<%- include('partials/header') -%>

<div class="flex items-center justify-center  gap-2 grid-cols-1">
    <div>
        <a href="/usersignup"><button id="userSign" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">User Login/Sign
            Up </button></a>
    </div>
    <div>
        <a href="/creatorsignup">
        <button id="creatorSign" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Creator
            Login/Sign Up </button>
        </a>
    </div>
</div>




<%- include('partials/footer') -%>