<%- include('partials/header') -%>

<div>
    <button id="back" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Back
    </button>
</div>



<div class="relative overflow-x-auto">
    EVENT TICKET PURCHASES
    <table id="table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
   
    </table>
</div>

<div class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <h3>Lifetime Tickets Bought: <span id="tickets"><%=ticketData %></span></h3>
</div>

<script>
    let backButton = document.getElementById("back")
    backButton.addEventListener("click", event => {
        history.back()
    })


        let table = document.getElementById("table")
         let selectcounter = 0;
         let  buttoncounter = 0;
        let elementsarray = []
        let selectarray = []
        let analyArr = []

        window.app = <%- tabledata %>
            analyArr = [...window.app]
        
        console.log(analyArr)

        
        for(let i = 0; i < analyArr.length; i++){
            analyArr[i].duration = "Pick Reminder Time"
            analyArr[i].Reminders = "Set Reminder"
            let date = new Date()
            let fire = moment().format("x")
            if(fire > analyArr[i].dateSent) {
                delete analyArr[i].duration
                delete analyArr[i].Reminders
            }
        }


        function generateTableHead(table, data) {
            let thead = table.createTHead()
            thead.classList.add("text-xs", "text-gray-700", "bg-gray-50", "dark:bg-gray-700", "dark:text-gray-400")
            let row = thead.insertRow()
            row.classList.add("bg-white", "dark:bg-gray-800")

            for (let key of data) {
                if (key === "eventName") key = "Event Name"
                if (key === 'amountOfTickets') key = "Tickets"
                if (key === "date") key = "Date Of Event"
                if (key === "duration") key = "Reminder Duration"
                if(key === "dateSent") continue
                let th = document.createElement("th");
                th.classList.add("px-6", "py-4", "font-medium", "text-gray-900", "whitespace-nowrap", "dark:text-white")
                let text = document.createTextNode(key);
                th.appendChild(text)
                row.appendChild(th)
            }
        }
       
        let data = Object.keys(analyArr[0]);
        generateTableHead(table, data);

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                row.classList.add("bg-white", "dark:bg-gray-800")
                for (key in element) {
                    if(key === "dateSent") continue
                    let cell = row.insertCell();
                    cell.classList.add("px-6", "py-4")

                    if(key === "Reminders"){
                        buttoncounter++;
                       let button = document.createElement("button")
                       button.id = `buttonId${buttoncounter}`
                       let text = document.createTextNode(element[key]);

                  
                       elementsarray.push(`buttonId${buttoncounter}`)

                       button.classList.add("bg-blue-500", "hover:bg-blue-700", "text-white", "font-bold", "py-2","px-4","rounded")
                       button.appendChild(text)
                       cell.appendChild(button)

                        
                     

                        
                        //console.log(select)

                    }else if(key === "duration"){
            
                        selectcounter++;
                        var array = ["1 hour", "1 day", "1 week"]
                        let select = document.createElement("select");
                        select.id = `durationId${selectcounter}`
                        selectarray.push(`durationId${selectcounter}`)
                        let text = document.createTextNode(element[key]);
                        select.appendChild(text)
                        cell.appendChild(select)

                  

                        for (var i = 0; i < array.length; i++) {
                            var option = document.createElement("option");
                            option.value = array[i];
                            option.text = array[i];
                            select.appendChild(option);
                        }

                    }
                     else{
                        let text = document.createTextNode(element[key]);
                        cell.appendChild(text);
                    }

                }
            }


            elementsarray.forEach((element, index) =>{
                let current = document.getElementById(element)
                let select = document.getElementById(selectarray[index])
                let eventTitle = analyArr[index].eventName
                let eventDate = analyArr[index].dateSent
                current.addEventListener("click", e=>{
                    console.log(select.value, eventTitle, eventDate)

                 try {
                    fetch(`/user/create-reminder`, {
                        method: "POST",
                        body: JSON.stringify({
                            datetime: select.value,
                            eventName: eventTitle,
                            eventTime: eventDate
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                        .then((response) => response.json())
                        .then((json) => {
                            console.log(json)
                            window.location.href = "/user/profile"
                        });
                } catch (error) {
                    console.error('Promise rejected')
                }
                
            })
        })

        }

        generateTable(table, analyArr)
 
        
    </script>
